@page "/profiles"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DatingApp.Domain
@using DatingApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<DatingApp.Data.DatingAppContext> DbFactory

@attribute [Authorize(Roles = "Administrator")]

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<QuickGrid Class="table" Items="context.Profile">
    <PropertyColumn Property="profile => profile.UserId" />
    <PropertyColumn Property="profile => profile.FirstName" />
    <PropertyColumn Property="profile => profile.LastName" />
    <PropertyColumn Property="profile => profile.Age" />
    <PropertyColumn Property="profile => profile.Gender" />
    <PropertyColumn Property="profile => profile.Bio" />
    <PropertyColumn Property="profile => profile.Interest" />
    <PropertyColumn Property="profile => profile.PhotoURL" />
    <PropertyColumn Property="profile => profile.RegionName" />
    <PropertyColumn Property="profile => profile.IsVerified" />
    <PropertyColumn Property="profile => profile.LastActiveDate" />

    <TemplateColumn Context="profile">
        <a href="@($"profiles/edit?Id={profile.ProfileId}")">Edit</a> |
        <a href="@($"profiles/details?Id={profile.ProfileId}")">Details</a> |
        <a href="@($"profiles/delete?Id={profile.ProfileId}")">Delete</a>
    </TemplateColumn>

</QuickGrid>

@code {
    private DatingAppContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
