@page "/reports"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DatingApp.Domain
@using DatingApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<DatingApp.Data.DatingAppContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="reports/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Report">
    <PropertyColumn Property="report => report.ReporterId" />
    <PropertyColumn Property="report => report.ReportedUserId" />
    <PropertyColumn Property="report => report.Reason" />
    <PropertyColumn Property="report => report.ReportedDate" />
    <PropertyColumn Property="report => report.Status" />

    <TemplateColumn Context="report">
        <a href="@($"reports/edit?reportid={report.ReportId}")">Edit</a> |
        <a href="@($"reports/details?reportid={report.ReportId}")">Details</a> |
        <a href="@($"reports/delete?reportid={report.ReportId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private DatingAppContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
