@using Microsoft.AspNetCore.Components.Authorization

<nav>
    <ul class="nav flex-column">

        <!-- Always visible -->
        <li class="nav-item">
            <a class="nav-link" href="/main">
                <span class="bi bi-house-door-fill-nav-menu"></span>
                <span>Home</span>
            </a>
        </li>


        <!-- User links -->
        <AuthorizeView Roles="User">
            <li class="nav-item">
                <a class="nav-link" href="/profiles/manage">
                    <span class="bi bi-person-nav-menu"></span>
                    <span>Profile</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/preferences/manage">
                    <span class="bi bi-list-nested-nav-menu"></span>
                    <span>Preferences</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/swipes/manage">
                    <span class="bi bi-swipe-nav-menu"></span>
                    <span>Start Swiping</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/matches/manage">
                    <span class="bi bi-person-fill-nav-menu"></span>
                    <span>Matches</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/messages/manage">
                    <span class="bi bi-person-badge-nav-menu"></span>
                    <span>Messages</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/blocks/manage">
                    <span class="bi bi-lock-nav-menu"></span>
                    <span>Blocked Users</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/reports/manage">
                    <span class="bi bi-lock-nav-menu"></span>
                    <span>Reported Users</span>
                </a>
            </li>

        </AuthorizeView>

        <!-- Admin links -->
        <AuthorizeView Roles="Administrator">
            <li class="nav-item">
                <a class="nav-link" href="/profiles">
                    <span class="bi bi-person-nav-menu"></span>
                    <span>Manage Profiles</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/preferences">
                    <span class="bi bi-list-nested-nav-menu"></span>
                    <span>Manage Preferences</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/matches">
                    <span class="bi bi-person-fill-nav-menu"></span>
                    <span>Manage Matches</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/swipes">
                    <span class="bi bi-swipe-nav-menu"></span>
                    <span>Manage Swipes</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/blocks">
                    <span class="bi bi-lock-nav-menu"></span>
                    <span>Blocked Users</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/reports">
                    <span class="bi bi-lock-nav-menu"></span>
                    <span>Reported Users</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/messages">
                    <span class="bi bi-person-badge-nav-menu"></span>
                    <span>Manage Messages</span>
                </a>
            </li>

        </AuthorizeView>

        <!-- Logout -->
        <li class="nav-item">
            <a class="nav-link text-danger" href="/">
                <span class="bi bi-arrow-bar-left-nav-menu"></span>
                <span>Logout</span>
            </a>
        </li>
    </ul>
</nav>
