@using Microsoft.AspNetCore.Components.Authorization

<nav>
    <ul class="nav flex-column">

        <!-- Always visible -->
        <li class="nav-item">
            <a class="nav-link" href="/main">Home</a>
        </li>

        <!-- User links -->
        <AuthorizeView Roles="User">
            <li class="nav-item">
                <a class="nav-link" href="/profiles/manage">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/preferences/manage">Preferences</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/swipes/manage">Start Swiping</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/matches/manage">Matches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/messages/create">Messages</a>
            </li>
        </AuthorizeView>

        <!-- Admin links -->
        <AuthorizeView Roles="Administrator">
            <li class="nav-item">
                <a class="nav-link" href="/profiles">Manage Profiles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/preferences">Manage Preferences</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ReportPages/List">Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/BlockPages/List">Blocked Users</a>
            </li>
        </AuthorizeView>

        <!-- Logout -->
        <li class="nav-item">
            <a class="nav-link text-danger" href="/">Logout</a>
        </li>
    </ul>
</nav>
