@page "/matchcriteria/create"
@using Microsoft.EntityFrameworkCore
@using DatingApp.Domain
@inject IDbContextFactory<DatingApp.Data.DatingAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>MatchCriteria</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="MatchCriteria" OnValidSubmit="AddMatchCriteria" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="matchid" class="form-label">MatchId:</label> 
                <InputNumber id="matchid" @bind-Value="MatchCriteria.MatchId" class="form-control" /> 
                <ValidationMessage For="() => MatchCriteria.MatchId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="preferenceid" class="form-label">PreferenceId:</label> 
                <InputNumber id="preferenceid" @bind-Value="MatchCriteria.PreferenceId" class="form-control" /> 
                <ValidationMessage For="() => MatchCriteria.PreferenceId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="profileid" class="form-label">ProfileId:</label> 
                <InputNumber id="profileid" @bind-Value="MatchCriteria.ProfileId" class="form-control" /> 
                <ValidationMessage For="() => MatchCriteria.ProfileId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="criteriatype" class="form-label">CriteriaType:</label> 
                <InputText id="criteriatype" @bind-Value="MatchCriteria.CriteriaType" class="form-control" /> 
                <ValidationMessage For="() => MatchCriteria.CriteriaType" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="criteriavalue" class="form-label">CriteriaValue:</label> 
                <InputText id="criteriavalue" @bind-Value="MatchCriteria.CriteriaValue" class="form-control" /> 
                <ValidationMessage For="() => MatchCriteria.CriteriaValue" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/matchcriteria">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private MatchCriteria MatchCriteria { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddMatchCriteria()
    {
        using var context = DbFactory.CreateDbContext();
        context.MatchCriteria.Add(MatchCriteria);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/matchcriteria");
    }
}
