@page "/matchcriteria/edit"
@using Microsoft.EntityFrameworkCore
@using DatingApp.Domain
@inject IDbContextFactory<DatingApp.Data.DatingAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>MatchCriteria</h2>
<hr />
@if (MatchCriteria is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="MatchCriteria" OnValidSubmit="UpdateMatchCriteria" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="MatchCriteria.MatchCriteriaId" value="@MatchCriteria.MatchCriteriaId" />
                <div class="mb-3">
                    <label for="matchid" class="form-label">MatchId:</label>
                    <InputNumber id="matchid" @bind-Value="MatchCriteria.MatchId" class="form-control" />
                    <ValidationMessage For="() => MatchCriteria.MatchId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="preferenceid" class="form-label">PreferenceId:</label>
                    <InputNumber id="preferenceid" @bind-Value="MatchCriteria.PreferenceId" class="form-control" />
                    <ValidationMessage For="() => MatchCriteria.PreferenceId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="profileid" class="form-label">ProfileId:</label>
                    <InputNumber id="profileid" @bind-Value="MatchCriteria.ProfileId" class="form-control" />
                    <ValidationMessage For="() => MatchCriteria.ProfileId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="criteriatype" class="form-label">CriteriaType:</label>
                    <InputText id="criteriatype" @bind-Value="MatchCriteria.CriteriaType" class="form-control" />
                    <ValidationMessage For="() => MatchCriteria.CriteriaType" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="criteriavalue" class="form-label">CriteriaValue:</label>
                    <InputText id="criteriavalue" @bind-Value="MatchCriteria.CriteriaValue" class="form-control" />
                    <ValidationMessage For="() => MatchCriteria.CriteriaValue" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/matchcriteria">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int MatchCriteriaId { get; set; }

    [SupplyParameterFromForm]
    private MatchCriteria? MatchCriteria { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        MatchCriteria ??= await context.MatchCriteria.FirstOrDefaultAsync(m => m.MatchCriteriaId == MatchCriteriaId);

        if (MatchCriteria is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateMatchCriteria()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(MatchCriteria!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!MatchCriteriaExists(MatchCriteria!.MatchCriteriaId))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/matchcriteria");
    }

    private bool MatchCriteriaExists(int matchcriteriaid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.MatchCriteria.Any(e => e.MatchCriteriaId == matchcriteriaid);
    }
}
