@page "/matchparticipants/edit"
@using Microsoft.EntityFrameworkCore
@using DatingApp.Domain
@inject IDbContextFactory<DatingApp.Data.DatingAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>MatchParticipant</h2>
<hr />
@if (MatchParticipant is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="MatchParticipant" OnValidSubmit="UpdateMatchParticipant" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="MatchParticipant.MatchParticipantId" value="@MatchParticipant.MatchParticipantId" />
                <div class="mb-3">
                    <label for="matchid" class="form-label">MatchId:</label>
                    <InputNumber id="matchid" @bind-Value="MatchParticipant.MatchId" class="form-control" />
                    <ValidationMessage For="() => MatchParticipant.MatchId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="userid" class="form-label">UserId:</label>
                    <InputText id="userid" @bind-Value="MatchParticipant.UserId" class="form-control" />
                    <ValidationMessage For="() => MatchParticipant.UserId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/matchparticipants">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int MatchParticipantId { get; set; }

    [SupplyParameterFromForm]
    private MatchParticipant? MatchParticipant { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        MatchParticipant ??= await context.MatchParticipant.FirstOrDefaultAsync(m => m.MatchParticipantId == MatchParticipantId);

        if (MatchParticipant is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateMatchParticipant()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(MatchParticipant!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!MatchParticipantExists(MatchParticipant!.MatchParticipantId))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/matchparticipants");
    }

    private bool MatchParticipantExists(int matchparticipantid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.MatchParticipant.Any(e => e.MatchParticipantId == matchparticipantid);
    }
}
