@page "/preferences/edit"
@using Microsoft.EntityFrameworkCore
@using DatingApp.Domain
@inject IDbContextFactory<DatingApp.Data.DatingAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Preference</h2>
<hr />
@if (Preference is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Preference" OnValidSubmit="UpdatePreference" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Preference.PreferenceId" value="@Preference.PreferenceId" />
                <div class="mb-3">
                    <label for="userid" class="form-label">UserId:</label>
                    <InputText id="userid" @bind-Value="Preference.UserId" class="form-control" />
                    <ValidationMessage For="() => Preference.UserId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="preferredgender" class="form-label">PreferredGender:</label>
                    <InputText id="preferredgender" @bind-Value="Preference.PreferredGender" class="form-control" />
                    <ValidationMessage For="() => Preference.PreferredGender" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="minage" class="form-label">MinAge:</label>
                    <InputNumber id="minage" @bind-Value="Preference.MinAge" class="form-control" />
                    <ValidationMessage For="() => Preference.MinAge" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="maxage" class="form-label">MaxAge:</label>
                    <InputNumber id="maxage" @bind-Value="Preference.MaxAge" class="form-control" />
                    <ValidationMessage For="() => Preference.MaxAge" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="locationradius" class="form-label">LocationRadius:</label>
                    <InputNumber id="locationradius" @bind-Value="Preference.LocationRadius" class="form-control" />
                    <ValidationMessage For="() => Preference.LocationRadius" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/preferences">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int PreferenceId { get; set; }

    [SupplyParameterFromForm]
    private Preference? Preference { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Preference ??= await context.Preference.FirstOrDefaultAsync(m => m.PreferenceId == PreferenceId);

        if (Preference is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdatePreference()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Preference!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!PreferenceExists(Preference!.PreferenceId))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/preferences");
    }

    private bool PreferenceExists(int preferenceid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Preference.Any(e => e.PreferenceId == preferenceid);
    }
}
