@page "/preferences"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DatingApp.Domain
@using DatingApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<DatingApp.Data.DatingAppContext> DbFactory

@attribute [Authorize(Roles = "Administrator")]


<PageTitle>Index</PageTitle>

<h1>Index</h1>

<QuickGrid Class="table" Items="context.Preference">

    <TemplateColumn Title="User ID" Context="profile">
        <span style="font-size:10px;">
            @profile.UserId
        </span>
    </TemplateColumn>

    <PropertyColumn Property="preference => preference.UserFullName" Title="Name" />
    <PropertyColumn Property="preference => preference.PreferredGender" />
    <PropertyColumn Property="preference => preference.MinAge" />
    <PropertyColumn Property="preference => preference.MaxAge" />
    <PropertyColumn Property="preference => preference.LocationRadius" />

    <TemplateColumn Context="preference">
        <a href="@($"preferences/edit?id={preference.PreferenceId}")">Edit</a> |
        <a href="@($"preferences/delete?id={preference.PreferenceId}")">Delete</a>

    </TemplateColumn>
</QuickGrid>

@code {
    private DatingAppContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();

        foreach (var pref in context.Preference) 
        { 
            pref.UserFullName = context.Profile
                .Where(p => p.UserId == pref.UserId)
                .Select(p => p.FirstName + " " + p.LastName)
                .FirstOrDefault(); 
        }
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
