@page "/matches"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DatingApp.Domain
@using DatingApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<DatingApp.Data.DatingAppContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="matches/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Match">
    <PropertyColumn Property="match => match.MatchDate" />
    <PropertyColumn Property="match => match.Active" />
    <PropertyColumn Property="match => match.UserId_One" />
    <PropertyColumn Property="match => match.UserId_Two" />
    <PropertyColumn Property="match => match.MatchedBy" />
    <PropertyColumn Property="match => match.MatchedOnCriteria" />

    <TemplateColumn Context="match">
        <a href="@($"matches/edit?matchid={match.MatchId}")">Edit</a> |
        <a href="@($"matches/details?matchid={match.MatchId}")">Details</a> |
        <a href="@($"matches/delete?matchid={match.MatchId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private DatingAppContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
