@page "/blocks/edit"
@using Microsoft.EntityFrameworkCore
@using DatingApp.Domain
@inject IDbContextFactory<DatingApp.Data.DatingAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Block</h2>
<hr />
@if (Block is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Block" OnValidSubmit="UpdateBlock" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Block.BlockId" value="@Block.BlockId" />
                <div class="mb-3">
                    <label for="blockerid" class="form-label">BlockerId:</label>
                    <InputText id="blockerid" @bind-Value="Block.BlockerId" class="form-control" />
                    <ValidationMessage For="() => Block.BlockerId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="blockeduserid" class="form-label">BlockedUserId:</label>
                    <InputText id="blockeduserid" @bind-Value="Block.BlockedUserId" class="form-control" />
                    <ValidationMessage For="() => Block.BlockedUserId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="blockeddate" class="form-label">BlockedDate:</label>
                    <InputDate id="blockeddate" @bind-Value="Block.BlockedDate" class="form-control" />
                    <ValidationMessage For="() => Block.BlockedDate" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/blocks">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int BlockId { get; set; }

    [SupplyParameterFromForm]
    private Block? Block { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Block ??= await context.Block.FirstOrDefaultAsync(m => m.BlockId == BlockId);

        if (Block is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateBlock()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Block!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!BlockExists(Block!.BlockId))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/blocks");
    }

    private bool BlockExists(int blockid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Block.Any(e => e.BlockId == blockid);
    }
}
