@page "/blocks"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DatingApp.Domain
@using DatingApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<DatingApp.Data.DatingAppContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="blocks/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Block">
    <PropertyColumn Property="block => block.BlockerId" />
    <PropertyColumn Property="block => block.BlockedUserId" />
    <PropertyColumn Property="block => block.BlockedDate" />

    <TemplateColumn Context="block">
        <a href="@($"blocks/edit?blockid={block.BlockId}")">Edit</a> |
        <a href="@($"blocks/details?blockid={block.BlockId}")">Details</a> |
        <a href="@($"blocks/delete?blockid={block.BlockId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private DatingAppContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
